<div class="logo">
  LodgeLogo
</div>
<ul class="links">
  <li> Dates selected should persits and be loaded for each page availability </li>
  <li> That way every page you go to automatically displays the correct availability so you don't have to keep entering it as you look around</li>
</ul>
