<form>
  <label>Check In: <input type="date" class="arrival-date"></label> <span class="form-hint"> Please provide a check in date.</span>
  <label>Check Out: <input type="date" class="departure-date"></label>
  <button type="submit">Find Availability</button>
</form>

