<form>
  <label>
    Check In: <input type="date" class="arrival date" value="{{prettyDate arrivalDate}}">
  </label> 
  <span class="form-hint"> Please provide a check in date.</span>
  <label>
    Check Out: <input type="date" class="departure date" value="{{prettyDate departureDate}}">
  </label>
  <button type="submit" class="search-button">Find Availability</button>
</form>

